<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.teamboid.twitter" android:versionCode="79"
	android:versionName="0.8.3.4 Beta">

	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="16" />

	<uses-feature android:name="android.hardware.camera"
		android:required="false" />

	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.VIBRATE" />

	<!-- Contact Sync Required. Yeah, annoying as hell -->
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.WRITE_CONTACTS" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
	<uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

	<permission android:name="com.teamboid.twitter.permission.C2D_MESSAGE"
		android:protectionLevel="signature" />

	<uses-permission android:name="com.teamboid.twitter.permission.C2D_MESSAGE" />
	<uses-permission android:name="com.android.vending.BILLING" />

	<supports-screens android:anyDensity="true"
		android:largeScreens="true" android:normalScreens="true"
		android:resizeable="true" android:smallScreens="true"
		android:xlargeScreens="true" />

	<application android:icon="@drawable/launcher_icon"
		android:label="@string/app_name">
		<meta-data android:name="android.app.default_searchable"
			android:value=".SearchScreen" />

		<uses-library android:name="com.google.android.maps" />

		<provider android:name="com.teamboid.twitter.SearchSuggestionsProvider"
			android:authorities="com.teamboid.twitter.SearchSuggestionsProvider"
			android:exported="false" />

		<activity android:name="com.teamboid.twitter.TimelineScreen"
			android:clearTaskOnLaunch="true" android:configChanges="orientation|screenSize"
			android:launchMode="singleInstance" android:uiOptions="splitActionBarWhenNarrow">
			<intent-filter android:label="@string/app_name">
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<!-- View Tweets/Users from Browser/Other Apps -->
			<intent-filter android:label="@string/app_name">
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />

				<data android:host="twitter.com" android:scheme="http" />
			</intent-filter>
			<intent-filter android:label="@string/app_name">
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />

				<data android:host="twitter.com" android:scheme="https" />
			</intent-filter>
		</activity>
		<activity android:name="com.teamboid.twitter.AccountManager"
			android:configChanges="screenSize" android:exported="false"
			android:label="@string/manage_accounts_str" />
		<activity android:name="com.teamboid.twitter.ProfileEditor"
			android:configChanges="screenSize|keyboardHidden|orientation"
			android:exported="false" />

		<service android:name="com.teamboid.twitter.services.AccountService"
			android:description="@string/account_service_desc" android:icon="@drawable/launcher_icon"
			android:label="@string/account_service_name" />

		<activity android:name="com.teamboid.twitter.SettingsScreen"
			android:configChanges="screenSize" android:label="@string/settings_str" />
		<activity android:name="com.teamboid.twitter.ComposerScreen"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:label="@string/new_tweet_str" android:launchMode="singleTask"
			android:uiOptions="splitActionBarWhenNarrow"
			android:windowSoftInputMode="stateAlwaysVisible|adjustResize">
			<intent-filter android:label="@string/app_name">
				<action android:name="android.intent.action.SEND" />

				<category android:name="android.intent.category.DEFAULT" />

				<data android:mimeType="text/*" />
				<data android:mimeType="image/*" />
			</intent-filter>
		</activity>
		<activity android:name="com.teamboid.twitter.SearchScreen"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:exported="false" android:label="@string/search_str"
			android:uiOptions="splitActionBarWhenNarrow">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>

			<meta-data android:name="android.app.searchable"
				android:resource="@xml/search_config" />
		</activity>
		<activity android:name="com.teamboid.twitter.ProfileScreen"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:exported="false" android:uiOptions="splitActionBarWhenNarrow">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />

				<data android:mimeType="vnd.android.cursor.item/vnd.com.teamboid.twitter.account" />
			</intent-filter>
		</activity>
		<activity android:name="com.teamboid.twitter.TweetViewer"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:label="@string/tweet_str" android:noHistory="true"
			android:uiOptions="splitActionBarWhenNarrow" />
		<activity android:name="com.teamboid.twitter.ConversationScreen"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:label="@string/messaging_str" android:windowSoftInputMode="adjustResize" />
		<activity android:name="com.teamboid.twitter.MutingManager"
			android:configChanges="screenSize" android:label="@string/muting_str"
			android:launchMode="singleTask" android:windowSoftInputMode="adjustResize" />
		<activity android:name="com.teamboid.twitter.UserListActivity"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:noHistory="true" android:uiOptions="splitActionBarWhenNarrow" />
		<activity android:name="com.teamboid.twitter.ColumnManager"
			android:configChanges="screenSize" android:label="@string/columns_str"
			android:launchMode="singleTask" />
		<activity android:name="com.teamboid.twitter.TweetListActivity"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:noHistory="true" android:uiOptions="splitActionBarWhenNarrow" />

		<service android:name="com.teamboid.twitter.services.SendTweetService"
			android:exported="false" android:permission="com.teamboid.twitter.permission.C2D_MESSAGE" />

		<activity android:name=".SelectMediaScreen" android:exported="true"
			android:label="@string/photo_service_title" android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:host="finishconfig" android:scheme="boid" />
			</intent-filter>
		</activity>

		<!-- Tweet Widget Services -->
		<service android:name="com.teamboid.twitter.tweetwidgets.TweetWidgetService"
			android:exported="false">
			<intent-filter>
				<action android:name="com.teamboid.twitter.ACTION_TWEET_WIDGET" />
			</intent-filter>
		</service>

		<receiver android:name="com.teamboid.twitter.services.SendTweetStarter"
			android:exported="false">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
		</receiver>

		<!-- Internal Tweet Widgets -->
		<service android:name="com.teamboid.twitter.YouTubeWidget"
			android:exported="false" android:label="@string/youtube_embed">
			<intent-filter>
				<action android:name="com.android.ACTION_EMBED" />

				<data android:host="youtu.be" android:scheme="http" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.android.ACTION_EMBED" />

				<data android:host="youtube.com" android:pathPrefix="/watch"
					android:scheme="http" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.android.ACTION_EMBED" />

				<data android:host="youtu.be" android:scheme="https" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.android.ACTION_EMBED" />

				<data android:host="youtube.com" android:pathPrefix="/watch"
					android:scheme="https" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.android.ACTION_EMBED" />

				<data android:host="www.youtu.be" android:scheme="http" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.android.ACTION_EMBED" />

				<data android:host="www.youtube.com" android:pathPrefix="/watch"
					android:scheme="http" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.android.ACTION_EMBED" />

				<data android:host="www.youtu.be" android:scheme="https" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.android.ACTION_EMBED" />

				<data android:host="www.youtube.com" android:pathPrefix="/watch"
					android:scheme="https" />
			</intent-filter>
		</service>

		<!-- Webkit Views -->
		<activity android:name="com.teamboid.twitter.LoginHandler"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:hardwareAccelerated="true" android:label="@string/add_account_str"
			android:launchMode="singleTop" android:windowSoftInputMode="adjustResize" />
		<activity android:name="com.teamboid.twitter.InAppBrowser"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:hardwareAccelerated="true" android:label="@string/boid_browser"
			android:launchMode="singleTop" android:windowSoftInputMode="adjustResize" />

		<!-- In-App Billing -->
		<service android:name="net.robotmedia.billing.BillingService" />

		<receiver android:name="net.robotmedia.billing.BillingReceiver"
			android:exported="false">
			<intent-filter>
				<action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
				<action android:name="com.android.vending.billing.RESPONSE_CODE" />
				<action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
			</intent-filter>
		</receiver>

		<!-- Contact Sync -->
		<service
			android:name="com.teamboid.twitter.contactsync.AccountAuthenticatorService"
			android:exported="false" android:process=":auth">
			<intent-filter>
				<action android:name="android.accounts.AccountAuthenticator" />
			</intent-filter>

			<meta-data android:name="android.accounts.AccountAuthenticator"
				android:resource="@xml/authenticator" />
		</service>
		<service android:name="com.teamboid.twitter.contactsync.ContactSyncAdapterService"
			android:exported="false" android:process=":contacts">
			<intent-filter>
				<action android:name="android.content.SyncAdapter" />
			</intent-filter>

			<meta-data android:name="android.content.SyncAdapter"
				android:resource="@xml/sync_contacts" />
			<meta-data android:name="android.provider.CONTACTS_STRUCTURE"
				android:resource="@xml/contact_structure" />
		</service>
		<service android:name=".contactsync.ContactViewNotifyService"
			android:exported="true" android:permission="android.permission.READ_CONTACTS"
			android:process=":contacts" />

		<!-- Auto-complete -->
		<provider android:name="com.teamboid.twitter.contactsync.AutocompleteProvider"
			android:authorities="com.teamboid.twitter.autocomplete"
			android:exported="false" android:label="@string/autocomplete"
			android:process=":contacts" android:syncable="true" />

		<service android:name="com.teamboid.twitter.contactsync.AutocompleteService"
			android:exported="false" android:process=":contacts">
			<intent-filter>
				<action android:name="android.content.SyncAdapter" />
			</intent-filter>

			<meta-data android:name="android.content.SyncAdapter"
				android:resource="@xml/sync_autocomplete" />
		</service>
		
		<receiver android:name="com.teamboid.twitter.NotificationService"></receiver>
		<service android:name="com.teamboid.twitter.NotificationService$ActualService"></service>
		
		<activity android:name="com.crittercism.NotificationActivity"/>
	</application>

</manifest>